<ul class="kind-table">
	<li class="clue-kind">机会与线索报表</li>
	<% Kind.all.each do |kind| %>
		<li class="kind-name">	<%=  kind.name %> </li>
<% end %>
	<li>机会类型合计</li>
</ul>
<div class="kind-clue">
	<ul class="column-table">
		<% Clue.all.each do |clue| %>
			<li><%= clue.name %></li>
	<% end %>
		<li>线索来源总计</li>
	</ul>
	<% Kind.all.each do |kind| %>
		<ul class="clue-table">
		<% Clue.all.each do |clue| %>
			<li><%= kind.advisories.joins(:clue).where(:clue_id => clue.id).count %></li>
	<% end %>
		<li><%= kind.advisories.count %></li>
	</ul>
<% end %>
	<ul class="clue-table">
		<% Clue.all.each do |clue| %>
			<li><%= clue.advisories.count %></li>
	<% end %>
		<li><%= Advisory.count %></li>
	</ul>
</div>
