	<tr>
				<td><%= advi.time %></td>
				<td><%= advi.name %></td>
				<td><%= advi.company %></td>
				<td><%= advi.telphone %></td>
				<td><%= advi.mobel_phone %></td>
				<td><%= advi.fax %></td>
				<td><%= advi.province.name %></td>
				<td><%= advi.product.name %></td>
				<td><%= advi.odd_type %></td>
				<td><%= advi.stem %></td>
			
