<ul class="kind-table">
<li class="clue-kind">机会与线索报表</li>
<% Kind.all.each do |kind| %>
	<li class="kind-name">	<%=  kind.name %> </li>
<% end %>
<li>机会类型合计</li>
</ul>
<div class="kind-clue">
<ul class="column-table">
	<% Clue.all.each do |clue| %>
		<li><%= clue.name %></li>
<% end %>
	<li>线索来源总计</li>
</ul>
<% Kind.all.each do |kind| %>
	<ul class="clue-table">
	<% Clue.all.each do |clue| %>
		<li><%= Advisory.by_week.where("kind_id = ? and clue_id = ?", kind,clue).count %></li>
<% end %>
	<li><%= kind.advisories.by_week.count %></li>
</ul>
<% end %>
<ul class="clue-table">
	<% Clue.all.each do |clue| %>
		<li><%= clue.advisories.by_week.count %></li>
<% end %>
	<li><%= Advisory.by_week.count %></li>
</ul>
</div>
