<div class="user-advisory">
	<table class="table">
		<div class="show-current-user">
			<%= link_to "返回", root_path, class: "btn btn-primary" %>
			<br>
			<div class="user-data">
			<h4><%= @user.name %>添加的数据</h4>
			<span>总共<%= @search.count %>个</span>
			<span>今天新添加了<%= @user.advisories.today.count %>个</span>
		</div>
		<div class="search-advisory">
			<%= form_for @search, :url => advisory_path(@user), html: {method: :get} do |f| %>
				<%= f.text_field :created_at_greater_than_or_equal_to,id: "datapick"%>
				--
				<%= f.text_field :created_at_less_than_or_equal_to, id: 'datepick'%>
				<%= f.submit "按时间检索", class: 'btn btn-warning'%>
			<% end %>
		</div>
	</div>
	<% @advisories.order('created_at desc').each do |advi|%>
		<%= render partial: 'advisories/table', locals: {advi: advi} %>
		<% unless admin_signed_in? %>
				<% if advi.user.name == current_user.name %>
					<td><%= link_to "编辑", edit_advisory_path(advi), class: "btn btn-success btn-mini"%></td>
					<td><%= link_to "删除", advi, method: :delete, confirm: "确认删除", class: "btn btn-mini btn-danger"%></td>
				<% end %>
			<% end %>
			<tr>
				<td colspan="13"><%= advi.content %></td>
			</tr>
		</tr>
	<% end %>
</table>
<%= will_paginate @advisories %>
</div>
<script>
	$(document).ready(function(){
		$('#datapick, #datepick').datepicker({
			dateFormat: 'yy/mm/dd',
			clearText: '清楚',
			closeText: '关闭',
			prevText: '前一个月',
			nextText: '后一个月',
			currentText: '今天',
			monthNames: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月'],
			dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
		});
	});
</script>
