<div class="report-product">
	<span>当天产品咨询数</span>
	<% Product.all.each do |product| %>
		<% unless product.advisories.today.count == 0 %>
			<div class="report-table product-today">
				<div class="product-number">
					<%= link_to product.advisories.today.count, product_path(product.id) %>
				</div>
				<div class="product-name">
					<%=product.name %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
<div class="report-product">
	<span>本周产品咨询数</span>
	<% Product.all.each do |product| %>
		<% unless product.advisories.past_week.count == 0 %>
			<div class="report-table product-week">
				<div class="product-number">
					<%= product.advisories.past_week.count %>
				</div>
				<div class="product-name">
					<%=product.name %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>

<div class="report-product">
	<span>产品咨询数</span>
	<% Product.all.each do |product| %>
		<% unless product.advisories.count == 0 %>
			<div class="report-table">
				<div class="product-number">
					<%= product.advisories.count %>
				</div>
				<div class="product-name">
					<%=product.name %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>

