<div class="report">
	<h1>报表视图</h1>
	<%= render 'user_table' %>
	<hr />
	<%= render 'products/clue_report' %>
	<hr />
	<%= render 'products/kind_report' %>
	<hr />
	<%= render 'products/product_report' %>
	<hr />
	<%= render 'products/province_report' %>
	<hr />
</div>
