<div class="header">
	<div class="report-table">
		<% if user_signed_in? || admin_signed_in?%>
			<%= link_to "报表", report_path, class: "btn btn-success"%>
			<%= link_to "机会概览", root_path, class: "btn btn-primary"%>
			<%= link_to "已入库的数据", sap_path, class: "btn btn-info" %>
			<%= link_to "咨询地区与产品分析", relation_path, class: "btn btn-danger" %>
			<% if admin_signed_in? %>
				<%= link_to "添加用户", new_registration_path(:user), class: "btn" %>
				<%= link_to "增加产品分类", new_product_path, class: "btn" %>
				<%= link_to "增加机会类型", new_kind_path, class: "btn" %>
				<%= link_to "增加线索来源", new_clue_path, class: "btn" %>
			<% end %>
		<% end %>
	</div>
	<div class="header-devise">
		<% if admin_signed_in? %>
			<%= link_to "修改产品分类", products_path, class: "btn" %>
			<%= link_to "退出",destroy_admin_session_path, method: :delete %>
		<% else %>
			<% if current_user %>
				<%= link_to current_user.name, advisory_path(current_user.id) %>
				|
				<%= link_to "修改密码", edit_registration_path(:user) %>
				<%= link_to "注销", destroy_user_session_path, method: :delete %>
			<% else %>
				<%= link_to "登录",new_session_path(:user) %>
			<% end %>
		<% end %>
	</div>
</div>
